.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body /deep/ .pl-c {
  color: #969896;
}

.markdown-body /deep/ .pl-c1,
.markdown-body /deep/ .pl-s .pl-v {
  color: #0086b3;
}

.markdown-body /deep/ .pl-e,
.markdown-body /deep/ .pl-en {
  color: #795da3;
}

.markdown-body /deep/ .pl-smi,
.markdown-body /deep/ .pl-s .pl-s1 {
  color: #333;
}

.markdown-body /deep/ .pl-ent {
  color: #63a35c;
}

.markdown-body /deep/ .pl-k {
  color: #a71d5d;
}

.markdown-body /deep/ .pl-s,
.markdown-body /deep/ .pl-pds,
.markdown-body /deep/ .pl-s .pl-pse .pl-s1,
.markdown-body /deep/ .pl-sr,
.markdown-body /deep/ .pl-sr .pl-cce,
.markdown-body /deep/ .pl-sr .pl-sre,
.markdown-body /deep/ .pl-sr .pl-sra {
  color: #183691;
}

.markdown-body /deep/ .pl-v {
  color: #ed6a43;
}

.markdown-body /deep/ .pl-id {
  color: #b52a1d;
}

.markdown-body /deep/ .pl-ii {
  color: #f8f8f8;
  background-color: #b52a1d;
}

.markdown-body /deep/ .pl-sr .pl-cce {
  font-weight: bold;
  color: #63a35c;
}

.markdown-body /deep/ .pl-ml {
  color: #693a17;
}

.markdown-body /deep/ .pl-mh,
.markdown-body /deep/ .pl-mh .pl-en,
.markdown-body /deep/ .pl-ms {
  font-weight: bold;
  color: #1d3e81;
}

.markdown-body /deep/ .pl-mq {
  color: #008080;
}

.markdown-body /deep/ .pl-mi {
  font-style: italic;
  color: #333;
}

.markdown-body /deep/ .pl-mb {
  font-weight: bold;
  color: #333;
}

.markdown-body /deep/ .pl-md {
  color: #bd2c00;
  background-color: #ffecec;
}

.markdown-body /deep/ .pl-mi1 {
  color: #55a532;
  background-color: #eaffea;
}

.markdown-body /deep/ .pl-mdr {
  font-weight: bold;
  color: #795da3;
}

.markdown-body /deep/ .pl-mo {
  color: #1d3e81;
}

.markdown-body /deep/ .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.markdown-body /deep/ a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.markdown-body /deep/ a:active,
.markdown-body /deep/ a:hover {
  outline-width: 0;
}

.markdown-body /deep/ strong {
  font-weight: inherit;
}

.markdown-body /deep/ strong {
  font-weight: bolder;
}

.markdown-body /deep/ h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.markdown-body /deep/ img {
  border-style: none;
}

.markdown-body /deep/ svg:not(:root) {
  overflow: hidden;
}

.markdown-body /deep/ code,
.markdown-body /deep/ kbd,
.markdown-body /deep/ pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-body /deep/ hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.markdown-body /deep/ input {
  font: inherit;
  margin: 0;
}

.markdown-body /deep/ input {
  overflow: visible;
}

.markdown-body /deep/ [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body /deep/ * {
  box-sizing: border-box;
}

.markdown-body /deep/ input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body /deep/ a {
  color: #4078c0;
  text-decoration: none;
}

.markdown-body /deep/ a:hover,
.markdown-body /deep/ a:active {
  text-decoration: underline;
}

.markdown-body /deep/ strong {
  font-weight: 600;
}

.markdown-body /deep/ hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.markdown-body /deep/ hr::before {
  display: table;
  content: "";
}

.markdown-body /deep/ hr::after {
  display: table;
  clear: both;
  content: "";
}

.markdown-body /deep/ table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body /deep/ td,
.markdown-body /deep/ th {
  padding: 0;
}

.markdown-body /deep/ h1,
.markdown-body /deep/ h2,
.markdown-body /deep/ h3,
.markdown-body /deep/ h4,
.markdown-body /deep/ h5,
.markdown-body /deep/ h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body /deep/ h1 {
  font-size: 32px;
  font-weight: 600;
}

.markdown-body /deep/ h2 {
  font-size: 24px;
  font-weight: 600;
}

.markdown-body /deep/ h3 {
  font-size: 20px;
  font-weight: 600;
}

.markdown-body /deep/ h4 {
  font-size: 16px;
  font-weight: 600;
}

.markdown-body /deep/ h5 {
  font-size: 14px;
  font-weight: 600;
}

.markdown-body /deep/ h6 {
  font-size: 12px;
  font-weight: 600;
}

.markdown-body /deep/ p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body /deep/ blockquote {
  margin: 0;
}

.markdown-body /deep/ ul,
.markdown-body /deep/ ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body /deep/ ol ol,
.markdown-body /deep/ ul ol {
  list-style-type: lower-roman;
}

.markdown-body /deep/ ul ul ol,
.markdown-body /deep/ ul ol ol,
.markdown-body /deep/ ol ul ol,
.markdown-body /deep/ ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body /deep/ dd {
  margin-left: 0;
}

.markdown-body /deep/ code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.markdown-body /deep/ pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.markdown-body /deep/ .octicon {
  vertical-align: text-bottom;
}

.markdown-body /deep/ input {
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}

.markdown-body /deep/ .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.markdown-body /deep/ .anchor:focus {
  outline: none;
}

.markdown-body /deep/ p,
.markdown-body /deep/ blockquote,
.markdown-body /deep/ ul,
.markdown-body /deep/ ol,
.markdown-body /deep/ dl,
.markdown-body /deep/ table,
.markdown-body /deep/ pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body /deep/ hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e7e7e7;
  border: 0;
}

.markdown-body /deep/ blockquote {
  padding: 0 1em;
  color: #777;
  border-left: 0.25em solid #ddd;
}

.markdown-body /deep/ blockquote>:first-child {
  margin-top: 0;
}

.markdown-body /deep/ blockquote>:last-child {
  margin-bottom: 0;
}

.markdown-body /deep/ kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-body /deep/ h1,
.markdown-body /deep/ h2,
.markdown-body /deep/ h3,
.markdown-body /deep/ h4,
.markdown-body /deep/ h5,
.markdown-body /deep/ h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body /deep/ h1 .octicon-link,
.markdown-body /deep/ h2 .octicon-link,
.markdown-body /deep/ h3 .octicon-link,
.markdown-body /deep/ h4 .octicon-link,
.markdown-body /deep/ h5 .octicon-link,
.markdown-body /deep/ h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body /deep/ h1:hover .anchor,
.markdown-body /deep/ h2:hover .anchor,
.markdown-body /deep/ h3:hover .anchor,
.markdown-body /deep/ h4:hover .anchor,
.markdown-body /deep/ h5:hover .anchor,
.markdown-body /deep/ h6:hover .anchor {
  text-decoration: none;
}

.markdown-body /deep/ h1:hover .anchor .octicon-link,
.markdown-body /deep/ h2:hover .anchor .octicon-link,
.markdown-body /deep/ h3:hover .anchor .octicon-link,
.markdown-body /deep/ h4:hover .anchor .octicon-link,
.markdown-body /deep/ h5:hover .anchor .octicon-link,
.markdown-body /deep/ h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body /deep/ h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

.markdown-body /deep/ h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

.markdown-body /deep/ h3 {
  font-size: 1.25em;
}

.markdown-body /deep/ h4 {
  font-size: 1em;
}

.markdown-body /deep/ h5 {
  font-size: 0.875em;
}

.markdown-body /deep/ h6 {
  font-size: 0.85em;
  color: #777;
}

.markdown-body /deep/ ul,
.markdown-body /deep/ ol {
  padding-left: 2em;
}

.markdown-body /deep/ ul ul,
.markdown-body /deep/ ul ol,
.markdown-body /deep/ ol ol,
.markdown-body /deep/ ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body /deep/ li>p {
  margin-top: 16px;
}

.markdown-body /deep/ li+li {
  margin-top: 0.25em;
}

.markdown-body /deep/ dl {
  padding: 0;
}

.markdown-body /deep/ dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.markdown-body /deep/ dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body /deep/ table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body /deep/ table th {
  font-weight: bold;
}

.markdown-body /deep/ table th,
.markdown-body /deep/ table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.markdown-body /deep/ table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.markdown-body /deep/ table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.markdown-body /deep/ img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.markdown-body /deep/ code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.markdown-body /deep/ code::before,
.markdown-body /deep/ code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.markdown-body /deep/ pre {
  word-wrap: normal;
}

.markdown-body /deep/ pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body /deep/ .highlight {
  margin-bottom: 16px;
}

.markdown-body /deep/ .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body /deep/ .highlight pre,
.markdown-body /deep/ pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.markdown-body /deep/ pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown-body /deep/ pre code::before,
.markdown-body /deep/ pre code::after {
  content: normal;
}

.markdown-body /deep/ .pl-0 {
  padding-left: 0 !important;
}

.markdown-body /deep/ .pl-1 {
  padding-left: 3px !important;
}

.markdown-body /deep/ .pl-2 {
  padding-left: 6px !important;
}

.markdown-body /deep/ .pl-3 {
  padding-left: 12px !important;
}

.markdown-body /deep/ .pl-4 {
  padding-left: 24px !important;
}

.markdown-body /deep/ .pl-5 {
  padding-left: 36px !important;
}

.markdown-body /deep/ .pl-6 {
  padding-left: 48px !important;
}

.markdown-body /deep/ .full-commit .btn-outline:not(:disabled):hover {
  color: #4078c0;
  border: 1px solid #4078c0;
}

.markdown-body /deep/ kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.markdown-body /deep/ :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #4078c0;
}

.markdown-body /deep/ .task-list-item {
  list-style-type: none;
}

.markdown-body /deep/ .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdown-body /deep/ .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.markdown-body /deep/ hr {
  border-bottom-color: #eee;
}`
