<input vcl-input [(ngModel)]="data1">
<br>
<b>Input 1 value:</b> {{data1}}

<br>
<br>
<br>
<input vcl-input [(ngModel)]="data2" selectAllOnFocus=true>
<br>
<b>Input 2 value:</b> {{data2}}

<br>
<br>
<br>
<input vcl-input [(typedValue)]="data3" valueType="number" selectAllOnFocus=true>
<br>
<b>Input 3 Typed value (number):</b> {{data3}}

<br>
<br>
<br>
<input vcl-input value='readOnly' readOnly=true>
<br>
<b>Input 4 (readOnly)</b>
