<form #formDetails="ngForm" (ngSubmit)="updateInvestment(formDetails)">
  <div ngModelGroup="investment">

    <div class="form-group row">
      <label for="investmentIdTextInputElement" class="col-sm-2 col-form-label">Id</label>
      <div class="col-sm-10">
        <input vcl-input type="text" class="form-control" id="investmentIdTextInputElement" name="id" readonly
               [ngModel]="originalInvestment.id"
               #id>
      </div>
    </div>

    <div class="form-group row">
      <label vcl-form-control-label for="investmentInvestedAmountTextInputElement" class="col-sm-2 col-form-label">Invested amount</label>
      <div class="col-sm-10">
        <input vcl-input type="text" class="form-control" id="investmentInvestedAmountTextInputElement" name="investedAmount" required pattern="\d{1,5}(\.\d{2})?"
               [ngModel]="originalInvestment.investedAmount"
               #investmentInvestedAmountTextInputElement
               #investmentInvestedAmountFormControl="ngModel">
        <div *ngIf="investmentInvestedAmountFormControl.dirty === true">
          <div *ngIf="investmentInvestedAmountTextInputElement.validity.patternMismatch === true">
            <div class="vclFormControlHint vclError alert alert-danger">Invested amount should be formated like xxx.xx</div>
          </div>
          <div *ngIf="investmentInvestedAmountTextInputElement.validity.valueMissing === true">
            <div class="vclFormControlHint vclError alert alert-danger">Investment investedAmount cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label vcl-form-control-label for="investmentReturnedAmountTextInputElement" class="col-sm-2 col-form-label">Returned amount</label>
      <div class="col-sm-10">
        <input vcl-input type="text" class="form-control" id="investmentReturnedAmountTextInputElement" name="returnedAmount" pattern="()|(\d{1,5}(\.\d{2})?)"
               [ngModel]="originalInvestment.returnedAmount"
               #investmentReturnedAmountTextInputElement
               #investmentReturnedAmountFormControl="ngModel">
        <div *ngIf="investmentReturnedAmountFormControl.dirty === true">
          <div *ngIf="investmentReturnedAmountTextInputElement.validity.patternMismatch === true">
            <div class="vclFormControlHint vclError alert alert-danger">Returned amount should be formated like xxx.xx</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label vcl-form-control-label for="investmentInvestedDateTextInputElement" class="col-sm-2 col-form-label">Invested date</label>
      <div class="col-sm-10">
        <input vcl-input type="text" class="form-control" id="investmentInvestedDateTextInputElement" name="investedDate" required pattern="\d{4}-\d{2}-\d{2}"
               [ngModel]="originalInvestment.investedDate"
               #investmentInvestedDateTextInputElement
               #investmentInvestedDateFormControl="ngModel">
        <div *ngIf="investmentInvestedDateFormControl.dirty === true">
          <div *ngIf="investmentInvestedDateTextInputElement.validity.patternMismatch === true">
            <div class="vclFormControlHint vclError alert alert-danger">Invested date format should be yyyy-mm-dd
            </div>
          </div>
          <div *ngIf="investmentInvestedDateTextInputElement.validity.valueMissing === true">
            <div class="vclFormControlHint vclError alert alert-danger">Invested date cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label vcl-form-control-label for="investmentReturnedDateTextInputElement" class="col-sm-2 col-form-label">Returned date</label>
      <div class="col-sm-10">
        <input vcl-input type="text" class="form-control" id="investmentReturnedDateTextInputElement" name="returnedDate" pattern="()|(\d{4}-\d{2}-\d{2})"
               [ngModel]="originalInvestment.returnedDate"
               #investmentReturnedDateTextInputElement
               #investmentReturnedDateFormControl="ngModel">
        <div *ngIf="investmentReturnedDateFormControl.dirty === true">
          <div *ngIf="investmentReturnedDateTextInputElement.validity.patternMismatch === true">
            <div class="vclFormControlHint vclError alert alert-danger">Returned date format should be yyyy-mm-dd
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label vcl-form-control-label for="investmentClientIdTextInputElement" class="col-sm-2 col-form-label">Client id</label>
      <div class="col-sm-10">
        <input vcl-input type="text" class="form-control" id="investmentClientIdTextInputElement" name="clientId" required pattern="\d+"
               [ngModel]="originalInvestment.clientId"
               #investmentClientIdTextInputElement
               #investmentClientIdFormControl="ngModel">
        <div *ngIf="investmentClientIdFormControl.dirty === true">
          <div *ngIf="investmentClientIdTextInputElement.validity.patternMismatch === true">
            <div class="vclFormControlHint vclError alert alert-danger">Client id should contain digits
            </div>
          </div>
          <div *ngIf="investmentClientIdTextInputElement.validity.valueMissing === true">
            <div class="vclFormControlHint vclError alert alert-danger">Client id cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="vclGridRow">
    <div class="vclGridSpan-2">
      <input vcl-button type="submit" class="vclEmphasized" [class.vclDisabled]="formDetails.valid === false || id.value.length === 0" value="Update"/>
    </div>
    <div class="vclGridSpan-2">
      <input vcl-button type="button" (click)="createInvestment(formDetails)" class="btn btn-primary" [class.vclDisabled]="formDetails.valid === false" value="Create"/>
    </div>
    <div class="vclGridSpan-2">
      <input vcl-button type="button" (click)="removeInvestment(formDetails)" class="btn btn-primary" [class.vclDisabled]="formDetails.valid === false || id.value.length === 0" value="Remove"/>
    </div>
  </div>
</form>

