<span>
  <ng-content></ng-content>
  <vcl-icogram
    [label]="calculatedLabel | loc"
    [flexLabel]="flexLabel | loc"
    [prepIcon]="calculatedPrepIcon"
    [appIcon]="calculatedAppIcon">
  </vcl-icogram>
</span>
