Checkable:
<vcl-radio-button [(checked)]="isChecked"></vcl-radio-button>

<br><br>
<b>Checked:</b> {{isChecked}}

<br><br>
<button vcl-button (click)="isChecked=false">Uncheck radio button</button>

<br><br>
Disabled:
<vcl-radio-button [disabled]="true"></vcl-radio-button>
