Link with action:
<br>
<a vcl-link
  (click)="someAction($event)"
  [label]="'Trigger test action'"></a>
<br><br>

href attribute only (label is automatically created):
<br>
<a vcl-link
  [href]="'http://www.example.com'"></a>
<br><br>

Label and prepended icon:
<br>
<a vcl-link
  [href]="'#'"
  [label]="'Example Link'"
  [prepIcon]="'fa:chevron-right'"></a>
<br><br>

<!-- 
Block usage:
<br>
<a vcl-link [href]="'#'">
  Label from block
</a>
<br><br>
-->

Disabled link:
<br>
<a vcl-link
  [disabled]="true"
  [href]="'this is not considered as the link is disabled'"
  [label]="'Disabled link'"></a>
<br><br>

Link with target _blank:
<br>
<a vcl-link
  [href]="'https://github.com/ember-vcl'"
  [target]="'_blank'"
  [label]="'Target _blank link'"></a>
<br><br>

Link with title and scheme:
<br>
<a vcl-link
  [title]="'link title'"
  [scheme]="'tel'"
  [href]="'004971122222222'"
  [label]="'I\'m a telephone number schemed link'"></a>
<br><br>
