<span class="vclIcon {{iconClass}} {{fontIconClass}}" [attr.aria-label]="label | loc" [attr.aria-hidden]="isAriaHidden" [attr.role]="ariaRole">
  <ng-content></ng-content>
  <img *ngIf="src" src="{{src}}">
  <svg *ngIf="svguse" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" attr.xlink:href="{{svguse}}"></use>
  </svg>
</span>
