<vcl-metalist [items]="items" [meta]="metaInformation" #metalist>
  <template let-item="item" let-meta="meta">
    <div (tap)="select(meta)">
      Some HTML // {{item.name}}<span *ngIf="meta.selected"> // selected</span> <span *ngIf="meta.marked"> // marked</span>
    </div>
  </template>
</vcl-metalist>

<button vcl-button (tap)="metalist.prev()">prev</button>
<button vcl-button (tap)="metalist.next()">next</button>
