<div class="table-responsive">
  <table class="table vclTable vclFixed vclAltRowColor vclVAlignMiddle vclRowHoverHighlight vclRowSelectability" role="listbox">
    <thead>
      <tr>
        <th class="vclSortableCol" tabindex="0" role="button">id</th>
        <th class="vclSortableCol" tabindex="1" role="button">Amount</th>
        <th class="vclSortableCol" tabindex="2" role="button">Repay amount</th>
        <th class="vclSortableCol" tabindex="3" role="button">Agreement repay date</th>
        <th class="vclSortableCol" tabindex="4" role="button">Actual repay date</th>
        <th class="vclSortableCol" tabindex="5" role="button">Start date</th>
        <th class="vclSortableCol" tabindex="6" role="button">Repayed</th>
        <th class="vclSortableCol" tabindex="7" role="button">Client id</th>
        <th class="vclSortableCol" tabindex="8" role="button"></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let loan of repositoryService.loans" (click)="selected(loan)" [class.vclSelected]="loan == selectedLoan">
      <td>{{loan.id}}</td>
      <td>{{loan.amount}}</td>
      <td>{{loan.repayAmount}}</td>
      <td>{{loan.agreementRepayDate}}</td>
      <td>{{loan.actualRepayDate}}</td>
      <td>{{loan.startDate}}</td>
      <td>{{loan.repayed}}</td>
      <td>{{loan.clientId}}</td>
      <td> <div class="glyphicon glyphicon-remove vclIcon fa fa-remove" [ngStyle]="{color: 'red'}" (click)="removeLoan(loan)"></div> </td>
    </tr>
    </tbody>
  </table>
</div>
