<vcl-tether target='#target' targetAttachment='bottom right' attachment='top left' class='tethercontainer' zIndex='7'>
  <div style="border: 1px solid red; padding: 20px; ">
    tether text goes here
  </div>
</vcl-tether>

<div id="target" style="position: absolute; top: 200px; left: 200px; padding: 10px; border: 3px double green">
  this is the target
</div>