<loans-list-component [selectedLoan]="selectedLoan"
                        (loanSelected)="selectedLoan = $event"></loans-list-component>

<div class="vclDivider vclDividerHorizontal vclLayoutHorizontal vclLayoutCenterJustified">
  <div class="vclDividerRule"></div>
  <div class="vclIcogram vclDividerElement">
    <div class="vclText">Edit</div>
  </div>
</div>

<loan-edit-component [originalLoan]="selectedLoan" (updateLoan)="updateLoan($event)"
                       (createLoan)="createLoan($event)"
                       (loanRemoved)="selectedLoan=null"></loan-edit-component>
