<clients-list-component [selectedClient]="selectedClient" (clientSelected)="selectedClient = $event"></clients-list-component>

<div class="vclDivider vclDividerHorizontal vclLayoutHorizontal vclLayoutCenterJustified">
  <div class="vclDividerRule"></div>
  <div class="vclIcogram vclDividerElement">
    <div class="vclIcon fa fa-user" aria-hidden="true" role="img"></div>
    <div class="vclText">Edit</div>
  </div>
</div>

<client-edit-component [originalClient]="selectedClient" (updateClient)="updateClient($event)" (createClient)="createClient($event)" (clientRemoved)="selectedClient=null"></client-edit-component>
