// https://github.com/vcl/doc-client/blob/master/main.styl

html, body
  min-height: 100%
  height: 100%

body
  margin: 0

header
  padding: 1em
  position: relative
  &.vclApplicationHeader
    background-color: var(--gray-light-5)
    margin: 0

.docMain
  height: 100%

.docMetadata
  margin-bottom: 1em
  .vclGridSpan-gca,
  .vclGridSpan-gcb
    text-overflow: ellipsis
    overflow: hidden

.docQuicklinks
  position: absolute
  right: 25px
  top: 25px

.docWelcome
  margin: 3em

.docDemo
  margin-top: 15px
  margin-bottom: 40px

.docDemoContent
  padding: 10px
  padding-top: 20px
  padding-bottom: 20px
  border-top: 0
  margin: 0
  overflow: auto
  position: relative
  transform: translateZ(0)

.docContent
  padding-right: 15px
  padding-left: 15px

.docPart
  margin-bottom: 20px

.docNav
  padding-top: 10px
  padding-right: 15px
  padding-left: 0
  padding-bottom: 0
  margin-bottom: 0
  min-width: 15em

.docMetadata
  padding-top: 10px
  margin-left: 1.5em

.docNav > vcl-navigation > nav > ul > li > a vcl-icon + .vclText
  font-weight: bold !important

.docNav .vclNavigation li li a
  padding-left: 4.5em !important

.docEditDemoButton
  float: right

code.hljs
  white-space: inherit

// Month Picker
.vclDatePicker
  .vclButton:nth-of-type(3)
    margin-left: auto

#myStyledMonthPicker
  .vclCalendar.vclCalInput .vclCalItem:hover:not(.vclSelected)
    color: var(--calendar-item-hover-color) !important
    background-color: var(--calendar-item-hover-bg-color) !important

  .vclCalItem.vclToday,
  .vclCalendar.vclCalInput .vclCalItem.vclToday:hover
    color: inherit

  .vclCalItem.vclOtherMonth,
  .vclCalendar.vclCalInput .vclCalItem.vclOtherMonth:hover
    color: inherit

  .vclCalItem.vclAvailable.vclSelected,
  .vclCalendar.vclCalInput .vclCalItem.vclAvailable.vclSelected:hover
    color: var(--calendar-selected-item-color) !important
    background-color: var(--calendar-selected-item-bg-color)

  .vclCalItem.vclDisabled,
  .vclCalendar.vclCalInput .vclCalItem.vclDisabled:hover
    color: var(--calendar-disabled-item-color) !important
    background-color: var(--calendar-disabled-item-bg-color) !important

  .vclCalItem.vclAvailable,
  .vclCalendar.vclCalInput .vclCalItem.vclAvailable:hover
    background-color: transparent

  .vclCalItem.vclUnavailable,
  .vclCalendar.vclCalInput .vclCalItem.vclUnavailable:hover
    background-color: transparent
// Month Picker
