<div class="vclDatePicker"
    [class.vclLayoutHidden]="!expanded">
  <div class="vclDataGrid vclDGVAlignMiddle vclDGAlignCentered vclCalendar vclCalInput"
    [attr.role]="grid"
    [attr.tabindex]="tabindex"
    [attr.aria-multiselectable]="maxSelectableItems > 1"
    [attr.aria-expanded]="expanded">

    <div class="vclDGRow">
      <div class="vclToolbar vclLayoutFlex vclLayoutHorizontal vclLayoutJustified vclLayoutCenter" role="menubar" aria-level="1">
        <button vcl-button class="vclButton vclTransparent vclSquare"
          [class.vclDisabled]="!prevYearAvailable"
          [appIcon]="prevYearBtnIcon"
          (tap)="onPrevYearTap()">
        </button>

        <span class="vclCalHeaderLabel">{{ currentYear }}</span>

        <button vcl-button class="vclButton vclTransparent vclSquare"
          [class.vclDisabled]="!nextYearAvailable"
          [appIcon]="nextYearBtnIcon"
          (tap)="onNextYearTap()">
        </button>

        <button vcl-button *ngIf="expandable" class="vclButton vclTransparent vclSquare"
          [appIcon]="closeBtnIcon"
          (tap)="onCloseBtnTap()">
        </button>
      </div>
    </div>

    <div class="vclSeparator"></div>

    <template ngFor let-iM [ngForOf]="months" let-i="index">
      <div *ngIf="i % monthsPerRow === 0" class="vclDGRow" role="row">
        <div *ngFor="let jM of months.slice(i, (i + monthsPerRow > months.length ? months.length : i + monthsPerRow)); let j = index;"
          (tap)="selectMonth(i+j)"
          class="vclDGCell vclCalItem"
          [class.vclAvailable]="!useAvailableMonths || currentMeta[i+j].available"
          [class.vclUnavailable]="useAvailableMonths && !currentMeta[i+j].available"
          [class.vclToday]="isCurrentMonth(i+j)"
          [class.vclOtherMonth]="!isCurrentMonth(i+j)"
          [class.vclDisabled]="useAvailableMonths && !currentMeta[i+j].available"
          [class.vclSelected]="currentMeta[i+j].selected"
          [style.background-color]="currentMeta[i+j].color"
          [style.order]="i+j"
          [attr.aria-selected]="currentMeta[i+j].selected"
          role="gridcell"
          tabindex="0">
            <div *ngIf="jM.label" class="vclLayoutHorizontal vclLayoutCenterJustified vclMonthPickerListItemLabel">
              {{jM.label | loc}}
            </div>

            <div *ngIf="jM.sublabel" class="vclLayoutHorizontal vclLayoutCenterJustified vclMonthPickerListItemSublabel">
              {{jM.sublabel | loc}}
            </div>
        </div>
      </div>
    </template>
  </div>
</div>
