<div class="table-responsive">
    <table class="table vclTable vclFixed vclAltRowColor vclVAlignMiddle vclRowHoverHighlight vclRowSelectability" role="listbox">
      <thead>
        <tr>
          <th class="vclSortableCol" tabindex="0" role="button">id<div class="vclFloatRight vclIcon fa fa-sort"></div></th>
          <th class="vclSortableCol" tabindex="1" role="button">Name</th>
          <th class="vclSortableCol" tabindex="2" role="button">Phone</th>
          <th class="vclSortableCol" tabindex="3" role="button">Balance</th>
          <th class="vclSortableCol" tabindex="4" role="button"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of repositoryService.clients" (click)="selected(client)" [class.vclSelected]="client == selectedClient" [ngStyle]="{color: (repositoryService.getBiggestDebtorId() | async) === client.id ? 'red' : ((repositoryService.getBiggestInvestorId() | async) === client.id ? 'green' : 'black')}">
          <td>{{client.id}}</td>
          <td>{{client.name}}</td>
          <td>{{client.phone}}</td>
          <td>{{(repositoryService.getClientDebtSum(client) | async) + (repositoryService.getClientInvestmentSum(client) | async)}}</td>
          <td><div class="glyphicon glyphicon-remove vclIcon fa fa-remove" [ngStyle]="{color: 'red'}" (click)="removeClient(client)"></div></td>
        </tr>
      </tbody>
    </table>
</div>
