<form #formDetails="ngForm" (ngSubmit)="updateClient(formDetails)">
  <div ngModelGroup="client">

    <div class="form-group row">
      <label vcl-form-control-label for="clientIdTextInputElement" class="col-sm-2 col-form-label">Id</label>
      <div class="col-sm-10">
        <input vcl-input type="text" class="form-control" id="clientIdTextInputElement" name="id" readonly
               [ngModel]="originalClient.id"
               #id>
      </div>
    </div>

    <div class="form-group row">
      <label vcl-form-control-label for="clientNameTextInputElement" class="col-sm-2 col-form-label">Full name</label>
      <div class="col-sm-10">
        <input vcl-input type="text" class="form-control" id="clientNameTextInputElement" name="name" required pattern="[a-zA-ZēūīāšģķļčņĒŪĪĀŠĶĻŽČŅ\s]{3,40}"
               [ngModel]="originalClient.name"
               #clientNameTextInputElement
               #clientNameFormControl="ngModel">
        <div *ngIf="clientNameFormControl.dirty === true">
          <div *ngIf="clientNameTextInputElement.validity.patternMismatch === true">
            <div class="vclFormControlHint vclError alert alert-danger">Client name should be 3 to 40 symbols long and can contain only letters and spaces</div>
          </div>
          <div *ngIf="clientNameTextInputElement.validity.valueMissing === true">
            <div class="vclFormControlHint vclError alert alert-danger">Client name cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label vcl-form-control-label for="clientPhoneTextInputElement" class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input vcl-input type="text" class="form-control" id="clientPhoneTextInputElement" name="phone" required pattern="\d{8}"
               [ngModel]="originalClient.phone"
               #clientPhoneTextInputElement
               #clientPhoneFormControl="ngModel">
        <div *ngIf="clientPhoneFormControl.dirty === true">
          <div *ngIf="clientPhoneTextInputElement.validity.patternMismatch === true">
            <div class="vclFormControlHint vclError alert alert-danger">Client phone should be 8 digits
            </div>
          </div>
          <div *ngIf="clientPhoneTextInputElement.validity.valueMissing === true">
            <div class="vclFormControlHint vclError alert alert-danger">Client phone cannot be empty</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="vclGridRow">
    <div class="vclGridSpan-2">
      <input vcl-button type="submit" class="vclEmphasized" [class.vclDisabled]="formDetails.valid === false || id.value.length === 0" value="Update"/>
    </div>
    <div class="vclGridSpan-2">
      <input vcl-button type="button" (click)="createClient(formDetails)" class="btn btn-primary" [class.vclDisabled]="formDetails.valid === false" value="Create"/>
    </div>
    <div class="vclGridSpan-2">
      <input vcl-button type="button" (click)="removeClient(formDetails)" class="btn btn-primary" [class.vclDisabled]="formDetails.valid === false || id.value.length === 0" value="Remove"/>
    </div>
  </div>
</form>

