<div class="table-responsive">
  <table class="table vclTable vclFixed vclAltRowColor vclVAlignMiddle vclRowHoverHighlight vclRowSelectability" role="listbox">
    <thead>
      <tr>
        <th class="vclSortableCol" tabindex="0" role="button">id<div class="vclFloatRight vclIcon fa fa-sort"></div></th>
        <th class="vclSortableCol" tabindex="1" role="button">Invested amount</th>
        <th class="vclSortableCol" tabindex="2" role="button">Returned amount</th>
        <th class="vclSortableCol" tabindex="3" role="button">Invested date</th>
        <th class="vclSortableCol" tabindex="4" role="button">Returned date</th>
        <th class="vclSortableCol" tabindex="5" role="button">Client id</th>
        <th class="vclSortableCol" tabindex="6" role="button"></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let investment of repositoryService.investments" (click)="selected(investment)" [class.vclSelected]="investment == selectedInvestment">
      <td>{{investment.id}}</td>
      <td>{{investment.investedAmount}}</td>
      <td>{{investment.returnedAmount}}</td>
      <td>{{investment.investedDate}}</td>
      <td>{{investment.returnedDate}}</td>
      <td>{{investment.clientId}}</td>
      <td><div class="glyphicon glyphicon-remove vclIcon fa fa-remove" [ngStyle]="{color: 'red'}" (click)="removeInvestment(investment)"></div></td>
    </tr>
    </tbody>
  </table>
</div>
