<div class="navbar-full">
  <nav-bar-component class="col-md-12"></nav-bar-component>
</div>
<div class="vclGridRow">
  <div class="vclGridSpan-25p" *ngIf="showEmptySideClumns"><p></p></div>
  <div [class.vclGridSpan-50p]="showEmptySideClumns" [class.vclGridSpan-100p]="!showEmptySideClumns" class="vclContainer">
    <router-outlet></router-outlet>
  </div>
  <div class="vclGridSpan-25p" *ngIf="showEmptySideClumns"><p></p></div>
</div>
