<investments-list-component [selectedInvestment]="selectedInvestment"
                        (investmentSelected)="selectedInvestment = $event"></investments-list-component>

<div class="vclDivider vclDividerHorizontal vclLayoutHorizontal vclLayoutCenterJustified">
  <div class="vclDividerRule"></div>
  <div class="vclIcogram vclDividerElement">
    <div class="vclText">Edit</div>
  </div>
</div>

<investment-edit-component [originalInvestment]="selectedInvestment" (updateInvestment)="updateInvestment($event)"
                       (createInvestment)="createInvestment($event)"
                       (investmentRemoved)="selectedInvestment=null"></investment-edit-component>
