Checkable:
<vcl-checkbox [(checked)]="isChecked"></vcl-checkbox>

<br><br>
<b>Checked:</b> {{isChecked}}

<br><br>
<button vcl-button (click)="isChecked=false">Uncheck checkbox</button>

<br><br>
Disabled:
<vcl-checkbox [disabled]="true"></vcl-checkbox>
